.DraggableContainer {
    position: relative;
    width: 800px;
    height: 500px;

    border: 1px solid black;
}

.DraggableItem {
    position: absolute;
    background-color: red;

    cursor: grab;

    width: 100px;
    height: 50px;
}